MONGO_EXPRESS_CONTAINER_NAME=mongo-express
MONGO_EXPRESS_BIND_IP=127.0.0.1
MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_BASICAUTH_USERNAME=admin
MONGO_EXPRESS_BASICAUTH_PASSWORD=change-this-mongo-express-password
MONGO_EXPRESS_MONGODB_ENABLE_ADMIN=true
MONGO_EXPRESS_MONGODB_SERVER=mongodb
MONGO_EXPRESS_MONGODB_PORT=27017
MONGO_EXPRESS_MONGODB_ADMINUSERNAME=mongo_admin
MONGO_EXPRESS_MONGODB_ADMINPASSWORD=change-this-mongo-root-password
MONGO_EXPRESS_OPTIONS_EDITORTHEME=default
MONGO_EXPRESS_SITE_COOKIESECRET=change-this-cookie-secret
MONGO_EXPRESS_SITE_SESSIONSECRET=change-this-session-secret
DATABASE_NETWORK_NAME=database_network
MONGO_EXPRESS_NETWORK_ALIAS=mongo-express
TZ=UTC
