DBGATE_CONTAINER_NAME=dbgate
DBGATE_BIND_IP=127.0.0.1
DBGATE_PORT=3000
DBGATE_VOLUME_NAME=dbgate_data
DBGATE_LOGIN=admin
DBGATE_PASSWORD=change-this-dbgate-password
DBGATE_BASIC_AUTH=1
DBGATE_CONNECTIONS=crypto_postgres,crypto_mongo
DBGATE_POSTGRES_LABEL=Crypto PostgreSQL
DBGATE_POSTGRES_URL=postgresql://crypto_user:change-this-postgres-password@postgresql:5432/crypto_trading_system
DBGATE_MONGO_LABEL=Crypto MongoDB
DBGATE_MONGO_URL=mongodb://crypto_user:change-this-mongo-password@mongodb:27017/crypto_trading_system?authSource=crypto_trading_system
DATABASE_NETWORK_NAME=database_network
DBGATE_NETWORK_ALIAS=dbgate
TZ=UTC
