MONGO_CONTAINER_NAME=mongodb
MONGO_INITDB_ROOT_USERNAME=mongo_admin
MONGO_INITDB_ROOT_PASSWORD=change-this-mongo-root-password
MONGO_BIND_IP=127.0.0.1
MONGO_PORT=27017
MONGO_DATA_VOLUME_NAME=mongodb_data
MONGO_CONFIG_VOLUME_NAME=mongodb_config
DATABASE_NETWORK_NAME=database_network
MONGO_NETWORK_ALIAS=mongodb
TZ=UTC
