POSTGRES_CONTAINER_NAME=postgresql
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-admin-password
POSTGRES_BIND_IP=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_VOLUME_NAME=postgres_data
DATABASE_NETWORK_NAME=database_network
POSTGRES_NETWORK_ALIAS=postgresql
TZ=UTC
